/* Imports */
@font-face {
  font-family: Oswald-Regular;
  src: url(../assets/fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: Orbitron-Regular;
  src: url(../assets/fonts/Orbitron-Regular.ttf);
}
@font-face {
  font-family: Orbitron-Bold;
  src: url(../assets/fonts/Orbitron-ExtraBold.ttf);
}

body {
  min-width: 340px;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-image: url(../assets/img/star-wars--space-background.jpeg);
  color: var(--text-color);
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Oswald-Regular, sans-serif;
}

/* Category styling */
.category-container {
  color: var(--border-color);
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xlarge);
  padding: 0 var(--spacing-medium);
}

.category__card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}
.category__card-container:hover {
  color: var(--text-color);
}

.category__card {
  background-color: var(--background-color);
  width: 250px;
  height: 300px;
  border: none;
  border-radius: var(--border-radius);
}
.category__card:hover {
  cursor: pointer;
  border: 4px solid var(--border-color);
  transition: 0.2s ease;
}
.category__card:active {
  transform: scale(0.95);
  transition: 0.3s ease;
}

.category__image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
}

.category__image {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}

.category__heading {
  background-color: var(--heading-background-color);
  width: 100%;

  text-align: center;
  letter-spacing: 4px;
  font-family: Orbitron-Bold;
}

.films-container,
.characters-container,
.planets-container,
.vehicles-container {
  width: 100%;
  height: 100%;
  display: flex;
  
}
