:root {
  /* Colors */
  --background-color: #000;
  --text-color: white;
  --background-color-text: #0f0f0f;
  --background-color-card: #000000b1;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 4rem;

  /* Font */
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;

  /* Borders */
  --border-radius: 12px;
  --border-color: #ffe600;
}
